<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark default-color lighten-1 mb-5">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="{{ path("admin.gestion.commandes") }}">Sutekina Box</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <ul class="collapse navbar-collapse mb-0" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            {% if app.user != null %}
            <li class="nav-item active my-0">
                <a class="nav-link my-0" href="{{ path('admin.gestion.commandes') }}">Home</a>
            </li>
                {% if app.user.roles == ['ROLE_ADMIN'] %}
                    <li class="nav-item active my-0">
                        <a class="nav-link my-0" href="#">Gestion du personnel</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <!-- Links -->

        <ul class="nav navbar-nav">
            <!-- Dropdown -->
            <li class="nav-item dropdown mr-5">
                <a href="#" class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" role="menuitem">
                    {% if app.user %}
                        <h5 class="my-0">{{ app.user.username }}</h5>
                    {% else %}
                        <h5>Connexion<span class="caret"></span></h5>
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <li class="nav-item active">
                        <a class="dropdown-item" href="{{ path("admin.connect") }}">Connexion</a>
                    </li>
                    <li class="nav-item active">
                        <a class="dropdown-item" href="{{ path("admin.logout") }}">Déconnexion</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->
