{{ dump(route) }}
<div class="profile">

    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                {% if app.user %}
                    {{ app.user.firstname ~ ' ' ~ app.user.name }}
                {% else %}
                    Inconnu
                {% endif %}
            </div>
            <div class="profile-usertitle-job">
                <p class="lead">
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </p>
            </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
            <button type="button" class="btn btn-success btn-sm">Follow</button>
            <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
    </div>
    <div class="list-group my-3">
        <a href="{{ path('admin.gestion.box.list') }}" class="list-group-item list-group-item-action list-group-item-success {{ route == 'admin.gestion.box.list' ? 'active' :'' }}">Nos Box</a>
        <a href="{{ path('admin.gestion.stock') }}" class="list-group-item list-group-item-action list-group-item-success {{ route == 'admin.gestion.stock' ? 'active' :''}}">Gérer les Stocks</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success {{ route == 'admin.gestion.membres' ? 'active' :'' }}">Gérer les Membres</a>
    </div>
</div>

